body {
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}

.header {
  color: #fff;
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221440%22%20height%3D%22661.1%22%20viewBox%3D%220%200%201440%20661.1%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20rgb%280%2C%20128%2C%2096%29%20%21important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22rgb%280%2C%20128%2C%2096%29%22%20d%3D%22M1440%20488c-19.3%204.3-39.2%208.6-60%2013-174.2%2036.5-228.8%20288-467%2076.2-153.6-136.6-424-22.8-660.4-5.8-130.2%209.3-252.6-75-252.6-75V0h1440%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  padding-top: 32px;
  padding-bottom: 0; 
  margin-left:10%;
  margin-right: 10%;
}

#img {
  display: flex;
  width: 10%;
  margin: auto;
}

h1.title {
  margin: auto;
  width: 60%;
  font-size: 80px;
  font-weight: 700;
  padding: 40px;
  font-kerning: normal;
}

.subtitle {
  font-size: 50px;
  font-weight: 500;
}

.info-header {
  text-align: center;
}

.group-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
}

.info-email {
  margin: 30px 30px;
  text-align: center;
  font-size: 12px;
}

input {
  margin: 0px 15px;
  width: 400px;
  height: 40px;
  border: 1px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 1em;
  padding: 10px;
}

button {
  cursor: pointer;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1em;
}

button.free-trial {
  width: 250px;
  height: 65px;
  background-color: #2E3235;
}

.free-trial:hover {
  background-color: #0f0f0fed;
  transition: 0.2s;
}

button.start-free-trial {
  background-color: #008060;
}

.img-central {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .item {
  width: 300px;
  height: 200px;
  margin: 60px 60px;
  font-size: 12px;
  color: #212326;
}

.logo {
  width: 60px;
  height: 50px;
}

.container .item h2 {
  margin: 15px 2px;
}

.container .item p {
  font-size: 16px;
  color: #687177;
  line-height: 22px;
}

section.list {
  align-items: center;
  display: flex;
  justify-content: center;
}

ul {
  margin: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid #d2d5d9;
  border-bottom: 1px solid #d2d5d9;
  padding: 40px 0px;
  gap: 10px;
 
}

.footer {
  margin: 40px 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}

.footer-title {
   font-size: 28px
}

.footer .name {
  font-size: 15px;
  font-weight: bold;
}

.start-free-trial{
  padding: 20px;
}

.start-free-trial:hover{
  background-color: #04654d;
}